.App {
  text-align: center;
  background-image: url('./assets/login-background-landscape.png');
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
