.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  border: 1px solid red;
}

.profile-greeting {
  border: 1px solid red;
}

.profile-container h1 {
  font-size: 100px;
}

.profile-container p {
  font-size: 30px;
}