*:focus {
  outline: none;
}

:root{
  --customgreen: #6e9516;
}

.container-image{
  background-color: black;
  background-image: url(../../assets/login.jpg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login {
  margin: 7vw;
  color: white;
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.561);
}

.logo {
  width: 300px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.input-container {
  margin: 5px;
  border-radius: 20px;
  height: 4vh;
  width: 20vw;
  background-color: rgba(259, 259, 259, 0.15);
}

input {
  margin-left: 15px;
  border: none;
  height: 4vh;
  width: 80%;
  border-radius: 20px;
  background-color: rgba(259, 259, 259, 0);
  color:white;
  font-size: 16px;
}

.login-button {
  background-color: #6e9516;
  margin-bottom: 10px;
  margin-top: 30px;
  border-radius: 20px;
  height: 50px;
  width: 100%;
  font-size: 25px;
  border: none;
  color:whitesmoke;
}

.register {
  font-size: 16px;
}